{{ define "main" }}
    <section>
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <hr />

        {{ with .Content }}
            {{ . }}
            <hr />
        {{ end }}

        {{ if gt (len .Data.Terms.Alphabetical) 0 }}
            <p>
                {{ range .Data.Terms.Alphabetical }}
                <p><a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }}({{ .Count }})</a></p>
                {{ end }}
            </p>
        {{ else }}
            Nothing in here at the moment.
        {{ end }}
    </section>
{{ end }}
