@charset "utf-8";

body {
    color: #000000;
    font-family: monospace, "Courier New", Courier;
    line-height: 1.6em;
    padding: 1em;
    margin: auto;
    max-width: 72em;
    background: #fefefe;
}

a:visited {
    color: grey;
}

a {
    color: #1168cc;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

nav a:visited {
    color: #1168cc;
}

nav a.active {
    font-weight: bold;
    color: black;
}

code {
    color: #e01e5a;
    background-color: rgba(29, 28, 29, .04);
    border: 1px solid rgba(29, 28, 29, .13);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

pre code {
    color: #000000;
    display: block;
    padding: 8px;
    line-height: 16px;
}

pre {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eeeeee solid;
}

hr {
    border: none;
    height: 2px;
    background-color: #ffb300;
}

table {
    font-size: smaller;
    border-spacing: 0px;
    border: 1px solid #cccccc;
    width: 100%;
    text-align: left;
}

th {
    font-weight: bold;
    padding: 8px;
}

td {
    padding: 8px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* CSS specific to table */
section > table > tbody > tr:nth-of-type(2n+1) {
    background-color: #eeeeee;
}

section > table > tbody > tr th {
    background-color: #dddddd;
}

section > table > tbody > tr:hover {
    background-color: #ffb90f;
}

.heading-anchor {
    color: gray;
}

.heading-anchor:hover {
    color: #1168cc;
}

.footnote-backref::before {
    content: "go back ";
}

.footnote-backref:hover {
    color: #1168cc;
}

.footnote-ref:hover {
    color: #1168cc;
    text-decoration: underline;
}

.footnote-ref::before {
    content: "[";
}

.footnote-ref::after {
    content: "]";
}

.nowrap {
  white-space: nowrap ;
}

.posted-by {
    font-size: x-small;
    padding: 10px 0;
    color: #333333;
}
