{{ $excludePostMeta := .Params.excludePostMeta | default false }}

{{ if not $excludePostMeta }}
    <div class="posted-by">
        Posted on {{ .Date.Format "2006-01-02" }}.
        {{ if and (not (eq .Lastmod .Date)) .Site.Params.postHistory.enabled }}
            {{ $historyHREF := printf "%s/commits/%s/%s/%s" .Site.Params.postHistory.siteGitRepo .GitInfo.AbbreviatedHash .Site.Params.postHistory.contentDirRelativeToGitRepoRoot .File.Path }}
            Last updated on {{ .Lastmod.Format "2006-01-02" }} (<a href="{{ $historyHREF }}">history</a>).
        {{ end }}
        Approx {{ .FuzzyWordCount }} words.
        Approx {{ .ReadingTime}} minutes read.
        <br />
        {{ with .Params.tags }}
            Tags:
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">#{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
